Source: webapp-core
Section: misc
Priority: optional
Maintainer: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://pault.ag/

Package: webapp-core
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 uwsgi,
 uwsgi-plugin-python,
 uwsgi-plugin-python3,
 nginx,
 python-virtualenv
Description: set of core packages and bindings to run webapps
 This pacckage is internal to Paul Tagliamonte's setup, and as such,
 really isn't all that useful to people deploying their own apps
 in their own way.
 .
 This uses both dpkg and virtualenv to bring some measure of sanity
 to this crazy mixed up world we live in.
 .
 Beware running this without understanding it.
